<!-- Web.Config Configuration File -->
<configuration>
  <system.web>
    <trust level="Full" />
    <machineKey validationKey="0666FD8188904BEA9111CE075C82F205FDE3E31416849F5CEFB0EE964000036D12CAF1EC69BAB7B495B5817A9529069000358092B07A968F8C01CE0A08956237" decryptionKey="EB74F672C875B7CCE3541039194F65A2273626DABC11EE595A5342D2589FE1E7" validation="SHA1" decryption="AES" />
    <globalization fileEncoding="utf-8" culture="en-US" uiCulture="de-DE" />
    <httpRuntime maxRequestLength="1048576" requestValidationMode="2.0" />
    <!--<compilation tempDirectory="G:\PleskVhosts\old.animalcenter.org\tmp" />-->
    <compilation tempDirectory="C:\tmp" />
  </system.web>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>